      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="#" class="img-circle" width="60"></a></p>
              	  	
                  <li class="mt">
                      <a href="javascript:;">
                          <i class="fa fa-dashboard"></i>
                          <span>Home</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Engines</span>
                      </a>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Modules</span>
                      </a>
                  <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Assets</span>
                      </a>

                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Games</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Upload</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">Engine</a></li>
                          <li><a  href="#">Module</a></li>
                          <li><a  href="#">Assests</a></li>
                          <li><a  href="#">Games</a></li>
                      </ul>
                  </li>
                </ul>
                  
                                       <!-- sidebar menu end-->
          </div>
      </aside>