<footer class="site-footer">
     <div class="text-center">
              2015 - Rosalila Studio
         <a href="http://rosalilastudio.com/" class="go-top">
             <i class="fa fa-angle-up"></i>
         </a>
     </div>
</footer>
